h1 {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    text-shadow: 3px 3px 5px #e60012; /* Sombra roja */
}
.contenedor_mis_cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
.carta_pokemon {
    background: #ffffff; /* Fondo blanco */
    border: 3px solid #d92c2c; /* Borde rojo */
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-top: 26px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.descripcion_carta {
    display: none; /* Oculta por defecto */
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #d92c2c;
    position: absolute;
    width:105%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.carta_pokemon:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 12px rgba(217, 44, 44, 0.5);
}

.carta_pokemon:hover .descripcion_carta {
    display: block; /* Muestra la descripción al hacer hover */
}

.carta_pokemon h2 {
    font-size: 18px;
    font-weight: bold;
    /* color: #d92c2c; Rojo para resaltar el título */
    margin-bottom: 10px;
}

.carta_pokemon img {
    border-radius: 8px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

.carta_pokemon p {
    font-size: 14px;
    color: #333; /* Texto oscuro para mejor lectura */
    margin: 10px 0;
    font-weight: bold;
    white-space: nowrap;
}

.carta_pokemon.seleccionada {
    background: #d92c2c;
    color: white;
    border-color: white;
}
.boton_anadir {
    display: inline-block;
    width: fit-content; /* Que solo ocupe lo necesario */
    margin: 40px 30px; /* Centrarlo */
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(219, 57, 71);
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.boton_anadir:hover {
    background-color:rgb(144, 7, 18); /* Un rojo más oscuro */
    transform: scale(1.05); /* Efecto sutil de agrandado */
}