.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #e60012;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    color: rgb(219, 57, 71);
    margin-bottom: 20px;
    font-size: 2em;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 1.1em;
    color: rgb(219, 57, 71);
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid rgb(219, 57, 71);
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #e60012;
}

.form-actions {
    display: flex;
    justify-content: center;
}

.guardar-btn {
    background-color: rgb(219, 57, 71);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.guardar-btn:hover {
    background-color: #e60012;
    transform: scale(1.05);
}
